<nav class="row">
    <div class="top-bar small-12 columns">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">
                    {% if not block.image %}
                    <h2>{{ block.title }}</h2>
                    {% else %}
                    <h2><img src="{{ block.image }}" alt="{{ block.title }}" /></h2>
                    {% endif %}
                </li>
                {% for item in block.menu_items %}
                <li><a href="#{{ item.block_id }}">{{ item.caption }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="top-bar-right">
            {% if block.button %}
            <a href="#{{ block.button.block_id }}" class="button">{{ block.button.caption }}</a>
            {% endif %}
        </div>
    </div>
</nav>