.top-bar {

    h2 {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 1rem;
        max-height: 100%;

        img {
            max-height: 100%;
        }
    }

    .button {
        margin-bottom: 0;
    }
}
