.DS_Store
node_modules/
bower_components/
/env
/static
__pycache__
/ptvs_virtualenv_proxy.py
/bin
/obj
/.vs
/.vscode
/web.config
/web.*.config
/*.pyproj
/*.sln
*.pyperf
/WebEssentials2015-Settings.json
_references.js
/landing.sln.DotSettings.user
