<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }} - {% endif %}Панель управления</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&subset=latin,cyrillic">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/foundation-icon-fonts/foundation-icons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/motion-ui/dist/motion-ui.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='manager/static/styles/app.css') }}" />
    {% block styles %}{% endblock %}
</head>
<body class="{{ body_class }}">
    {% block menu %}{% endblock %}
    {% block body %}{% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='dist/jquery/dist/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/jquery.iframe-transport/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/foundation-sites/dist/foundation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/motion-ui/dist/motion-ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/underscore/underscore.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/backbone/backbone.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/backbone.marionette/lib/backbone.marionette.js') }}"></script>
    <script type="text/javascript">
        $(document).foundation();
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
