{% extends "manager/layout.html" %}
{% import "partial/assets.html" as assets %}

{% block menu %}
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu" data-dropdown-menu>
            <li class="menu-text">Панель управления лэндингом</li>
            <li><a href="/" target="_blank">Перейти к сайту</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a class="button" href="{{ url_for('manager.authorize', action='logout') }}">Выйти</a></li>
        </ul>
    </div>
</div>
{% endblock %}


{% block body %}
<div id="landing-settings" class="settings row">
    <div class="small-12 medium-10 large-8 small-centered columns">
        <h4>Настройки лэндинга</h4>
    </div>
</div>
<div id="landing-blocks"></div>
{% endblock %}


{% block scripts %}
<script type="text/template" id="blocks-container">
    <div class="small-12 medium-10 large-8 small-centered columns">
        <h4>Управление блоками</h4>
        <section class="blocks row"></section>
        <div class="clearfix">
            <button class="add button float-right"><i class="fi-plus"></i>&nbsp;Добавить блок</button>
        </div>
    </div>
</script>

<script id="block-wrapper" type="text/template">
    <form>
        <div class="block-head"></div>
        <div class="block-container"></div>
        <div class="clearfix">
            <div class="button-group float-right">
                <button class="save button" title="Сохранить блок"><i class="fi-save">&nbsp;Сохранить</i></button>
                <button class="delete alert button" title="Удалить блок"><i class="fi-x"></i></button>
            </div>
        </div>
    </form>
</script>

<script type="text/javascript" src="{{ url_for('static', filename='manager/static/scripts/blocks.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='manager/static/scripts/landing.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='manager/static/scripts/loader.js') }}"></script>
{{ assets.js(blocks, context='manager') }}
{% endblock scripts %}


{% block styles %}
{{ assets.css(blocks, context='manager') }}
{% endblock %}