[Unit]
Description=gunicorn landing daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=landing
Group=www-data
WorkingDirectory=/home/landing/app
ExecStart=/home/landing/app/env/bin/gunicorn --workers 4 --bind unix:landing.sock landing:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
