// Main preloader

.cssload-thecube {
  width: 47px;
  height: 47px;
  margin: 31px auto 0;
  position: relative;
  transform: rotateZ(45deg);

  .cssload-cube {
    position: relative;
    transform: rotateZ(45deg);
  }

  .cssload-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
  }

  .cssload-cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    animation: cssload-fold-thecube 3.12s infinite linear both;
    transform-origin: 100% 100%;
  }
  .cssload-c2 {
    transform: scale(1.1) rotateZ(90deg);
  }

  .cssload-c3 {
    transform: scale(1.1) rotateZ(180deg);
  }

  .cssload-c4 {
    transform: scale(1.1) rotateZ(270deg);
  }

  .cssload-c2:before {
    animation-delay: 0.39s;
  }

  .cssload-c3:before {
    animation-delay: 0.78s;
  }

  .cssload-c4:before {
    animation-delay: 1.17s;
  }
}

@keyframes cssload-fold-thecube {
  0%, 10% {
    transform: perspective(87px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    transform: perspective(87px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    transform: perspective(87px) rotateY(180deg);
    opacity: 0;
  }
}


// Upload preloader
.progress-bar-wrapper {
  position: relative;

  .progress-container {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;

    .progress {
      background-color: rgb(229, 233, 235);
      height: 0.3em;
      position: relative;
    }

    .progress-bar {
      height: 100%;
      position: relative;
      background-color: $primary-color;
      animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
    }
  }
}

@keyframes cssload-width {
  0%, 100% {
    transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
  }
  0% {
    width: 0;
    opacity: .5;
  }
  80% {
    width: 100%;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

