body {
    height: auto;
}

body.login {
    background: $primary-color;
}

.login-form {
    margin-top: 20px;
}

.top-bar {
    .button {
        margin: rem-calc(0);
    }
}

.table-form {
    margin-top: rem-calc(40);

    table {
        border: hidden;
    }

    input {
        margin: rem-calc(0);
    }
}

.upload-lead {
    position: relative;

    input[type=file] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        height: 0;
        width: 0;
        z-index: -9999;
    }
}

.files .thumbnail {
    margin-bottom: 0;
    width: 100px;
}

.blocks {
    .button-group {
        margin-bottom: 0;
    }

    table {
        border-collapse: separate;

        tbody {
            background: none;

            th, td {
                padding: 0;
            }
        }
    }
}
