@import 'embedded';

body {
    height: auto;
}

body.login {
    background: $primary-color;
}

.login-form {
    margin-top: 20px;
}

.top-bar {
    .button {
        margin: rem-calc(0);
    }
}

.table-form {
    margin-top: rem-calc(40);

    table {
        border: hidden;
    }

    input {
        margin: rem-calc(0);
    }
}

.upload-lead {
    position: relative;

    input[type=file] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        height: 0;
        width: 0;
        z-index: -9999;
    }
}

#global-notifictations {
    position: fixed;
    top: rem-calc(60);
    right: 10px;
    width: 360px;
    z-index: 1010;

    .notification {
        width: 310px;
        position: relative;
        margin: 0 auto rem-calc(16) auto;
        display: none;

        p { margin-bottom: 0; }
    }
}

.files {
    .thumbnail {
        margin-bottom: 0;
        width: 100px;
        cursor: pointer;
    }

    .upload-preloader {
        background: $preloader-data repeat-x 0 0;
        height: rem-calc(20);
        width: 100%;
    }
}

.blocks {
    .block-head {
        * {
            display: inline-block;
        }

        .head-count {
            width: 10%;
            vertical-align: middle;
            text-align: center;
        }

        .head-control {
            width: 88%;
        }
    }

    .menu-items {
        * {
            margin-bottom: 10px;
        }

        td {
            padding: 0 5px;
        }

        td:first-child, td + td {
            width: 47%;
        }

        td:last-child {
            padding: 0;
            text-align: right;
        }
    }

    .button-group {
        margin-bottom: 0;
    }

    .mce-tinymce.mce-container {
        margin-bottom: rem-calc(16);
    }

    .media-open.button {
        border-width: 1px 1px 0 0;
        margin-left: -2px;
    }

    table {
        border-collapse: separate;

        tbody {
            background: none;

            th, td {
                padding: 0;
            }
        }
    }
}
