.splash {
    position: relative;
    overflow: hidden;
    height: 50vh;

    .splash-bg, .splash-text {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .splash-bg {
        padding: 0;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
}