<header id="{{ block.id }}" class="row splash">
    <div class="small-12 columns splash-bg" style="
    {% if block.background_color %} background-color: {{ block.background_color }}; {% endif %}
    {% if block.background_media %} background-image: url({{ block.background_media }}); {% endif %}
    ">
    </div>
    <div class="small-12 columns splash-text">
        <h1 class="splash-title">{{ block.title }}</h1>
        {% if block.description %}
        <h3 class="splash-description">{{ block.description | safe }}</h3>
        {% endif %}
    </div>
</header>
