{%- set dev = config['env'] == 'development' %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Панель управления лэндингом {{ landing.name or '' }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    {%- if not dev %}
    <link href="/static/styles/manager.css" rel="stylesheet">
    {%- else %}
        <style>
        .full.page.container {
            height: 100vh;
            width: 100vw;
        }
        </style>
    {%- endif %}
</head>
<body>

<div id="app-container">
    <div class="full page container">
        <div class="ui active text loader"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="{{ 'http://localhost:8080/' if dev else '/' }}static/scripts/manager.js"></script>
</body>
</html>
