{%- import "partial/assets.html" as assets %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&subset=latin,cyrillic">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/foundation-icon-fonts/foundation-icons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='static/styles/landing.css') }}" />
    {{ assets.css(all_blocks) }}
</head>
<body>
    {% block blocks %}
    {% for block in landing.blocks %}
    {{ block.render_template() | safe }}
    {% endfor %}
    {% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='dist/jquery/dist/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/foundation-sites/dist/foundation.js') }}"></script>
    <script type="text/javascript">
        $(document).foundation();
    </script>

    {{ assets.js(all_blocks) }}
</body>
</html>

